.App {
  text-align: center;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 1000px;
  margin: 0 auto;
}

/* .App .app-container {
  max-width: 1000px;
  margin: 0 auto;
} */

.App .footer-container {
  margin-top: 50px;
}
