.github-logo {
  margin-top: 10px;
}

.link-icon {
  margin-right: 10px;
  font-size: 24px;
  color: #a13f35;
  border: 2px solid #a13f35;
  border-radius: 7px;
  padding: 1px 3px;
  background-color: #fcd9b1;
}
