.header {
  font-size: 65px;
  letter-spacing: 5px;
  margin-top: 320px;

  text-align: left;
}

/* .header-container {
  max-width: 2000px;
  background-color: lightcoral;
} */

.biography-container {
  max-width: 450px;
  margin-bottom: 10px;
}

.header-2 {
  margin-top: -40px;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: left;
}

.biography {
  text-align: left;
}
