.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a13f35;
  padding: 15px;
  border-bottom: 3px solid #c68f74;
  font-weight: 450;
}

.logo {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 20px;
}
